  <nav class="navbar navbar-expand-lg navbar-dark bg-header">
    <i class="fa fa-google-wallet fa-3x" style="color: whitesmoke; margin-right: 10px"></i>
    <a class="navbar-brand" href="#">Vivriti Crafts Beer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hot Sellers</a>
        </li>
        <li class="nav-item my-2 my-lg-0">
                <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bulk Orders</a>
        </li>
      </ul>
    </div>
  </nav>